doctype html
html(lang="ru-Ru")
  include modules/common/head

  body
    include template/structure/header/structure
    include template/structure/main/structure
    include template/structure/footer/structure
    
    script(src="js/main.js")
