footer
  .container
    .footer__wrapper
      h2 Остались вопросы?
      .footer__description Наличие положительной информации о Вашей компании в интернете напрямую влияет на объем продаж. Управление репутацией (SERM) от Demis Group — это полный контроль над созданием положительного образа Вашего бренда в интернете!
      
      form
        .input-group 
          input(type="text" class="inp t-text" value="+7 Константин")
          button(type="button" class="btn btn_xl") Бесплатный аудит
        .form__warning MostBest гарантирует, что Ваши персональные данные будут использованы только <br> для предоставления коммерческого предложения.
    
