.w50
  display: flex

  .w50__left, .w50__right
    display: flex
    width: 50%
    padding: 95px 16px

  .w50__left
    justify-content: flex-end

  .container
    margin: 0
    width: 100%
    max-width: 580px

.about__left
  background-color: #fff

.about__left

  .description
    padding-right: 64px
