section.w50.audit
  .w50__left.audit__left
    .container
      .wrapper
        .audit__title
          .title__icon
          h2.title__description Бесплатный аудит

        ul.list.num
          
          li.item__title
            .title Что ва узнаете из аудита?

          li.item
            .number 1
            .content
              .discription Анализ ТОП 30 поисковых систем Яндекс и Google

          li.item
            .number 2
            .content
              .discription Подсчет положительных и отрицательных упоминаний

          li.item
            .number 3
            .content
              .discription Что ва узнаете из аудита.
              
        .audit__form
          form
            .input-group 
              input(type="text" class="inp t-text" value="+7 Константин")
              button(type="button" class="btn btn_xl") Бесплатный аудит
            .form__warning MostBest гарантирует, что Ваши персональные данные будут использованы только для предоставления коммерческого предложения.


  
  .w50__right.about__right
    .container
      .wrapper
        h2 Как мы работаем?
        ul.list.num
          li.item
            .number 1
            .content
              .title Мониторинг
              .discription Оценка состояния репутации в интернете и отслеживание мнений о компании.

          li.item
            .number 2
            .content
              .title Работа с негативом
              .discription Предоставление официальных ответов, разрешение конфликтов, удаление негативный отзывов.

          li.item
            .number 3
            .content
              .title Положительные упоминания
              .discription Размещение положительных упоминаний о компании.
              
          li.item
            .number 4
            .content
              .title SERM
              .discription Вытеснение нежелательных сайтов из поисковой выдачи поисковых систем.
