section.partners
  .container
    h2.partners__title Площадки с которыми мы работаем
    .wrapper
      .partner
        img(src="../img/sections/partners/spr.jpg" alt="СПР")
      .partner
        img(src="../img/sections/partners/flamp.jpg" alt="Flamp")
      .partner
        img(src="../img/sections/partners/yell.jpg" alt="Yell") 
      .partner
        img(src="../img/sections/partners/blizkoru.jpg" alt="blizko.ru")
      .partner
        img(src="../img/sections/partners/otzyvru.jpg" alt="otzyv.ru") 
    .wrapper
      .partner
        img(src="../img/sections/partners/otziviru.jpg" alt="отзывы.ру")
      .partner
        img(src="../img/sections/partners/guiderf.jpg" alt="guide.rf") 
      .partner
        img(src="../img/sections/partners/orgpage.jpg" alt="orgpage")
      .partner
        img(src="../img/sections/partners/apoi.jpg" alt="apoi")
      .partner
        img(src="../img/sections/partners/gid.jpg" alt="ГИД") 
