section.w50.warranty
  .w50__left.warranty__left.flex
    .container
      .wrapper
        h2 Наши гарантии
        .description Наличие положительной информации о Вашей компании в интернете напрямую влияет на объем продаж. Управление репутацией (SERM) от Demis Group — это полный контроль над созданием положительного образа Вашего бренда в интернете!
  
  .w50__right.warranty__right
    .container
      .wrapper
        .warranty__list
          .list__row
            .list__wrapper
              .list__icon
                img(src="img/sections/warranty/shield.png" alt="Гарантируем конфиденциальность")
              .list__description Гарантируем <br> конфиденциальность
          
            .list__wrapper
              .list__icon
                img(src="img/sections/warranty/chart.png" alt="Гарантируем конфиденциальность")
              .list__description Гарантируем <br> конфиденциальность

          .list__row
            .list__wrapper
              .list__icon
                img(src="img/sections/warranty/diagram.png" alt="Гарантируем конфиденциальность")
              .list__description Гарантируем <br> конфиденциальность
              
            .list__wrapper
              .list__icon
                img(src="img/sections/warranty/customer.png" alt="Гарантируем конфиденциальность")
              .list__description Гарантируем <br> конфиденциальность
            
            
            
          
        
