section.whoelse
  .container
    h2 Почему важно следить за репутацией?
    .content Хорошая репутация – необходимое условие для развития любой уважающей себя организации. Наличие положительных отзывов дает ощутимый эффект, при выборе товаров или услуг, в вашу пользу, по сравнению с другими похожими компаниями.

    .howelse__statistics
      .statistics__item
        .title
          span.number 90
          span.percent %
        .description людей доверяют <br> мнению знакомых людей
        
      .statistics__item
        .title
          span.number 92
          span.percent %
        .description ищут отзывы <br> в сети перед покупкой
        
      .statistics__item
        .title
          span.number 70
          span.percent %
        .description доверяют мнению <br> не знакомым людям
      
      .statistics__item
        .title
          span.number 53
          span.percent %
        .description людей оставляют отзывы <br> о товарах и услугах

      .statistics__item
        .title
          span.number 28
          span.percent к
        .description людей ежидневно <br> читают отзывы
