main
  .container
    h2 Принятые обозначения
    p 
      strong Гарнитура 
      | — набор из одного или нескольких шрифтов в одном или нескольких размерах и начертаниях, имеющих стилистическое единство рисунка и состоящих из определённого набора типографских знаков. Гарнитура — это один или несколько файлов-шрифтов, созданных в одном стиле.
    p
      strong Шрифт 
      | — это всегда один файл, содержащий одно начертание. Шрифт определяет свойства конкретного члена семейства шрифтов, например, полужирное или курсивное начертание, в то время как гарнитура определяет согласованный стиль семейства шрифтов.  
    p
      strong Начертание 
      | — графическая разновидность шрифта в пределах одной гарнитуры.
    p
      strong Высота строчных 
      | — это.
    p 
      strong Антиквы (Serif) 
      | — общий термин, применяемый для шрифтов с засечками. Для сплошного текста в web антиквы были признаны трудночитаемыми и уступают место гротескам. Антиквы отлично подходят для заголовков.
    p 
      strong Гротеск (Sans Serif) 
      | — их основной отличительной особенностью является полное отсутствие засечек. Такие шрифты отлично подходят для написания сплошного текста, особенно для web-страниц.
    p 
      strong Кегль 
      | —
    p 
      strong Кернинг 
      | —
    p 
      strong Интерлиньяж  
      | —
    p 
      strong Пробельная строка 
      | —
    
    p 
      strong Иерархия расстояний 
      | — это контрасты между различными уровнями.
    p
      strong Поля  
      | — воздух по краям.
    p
      strong Принцип повторяемости 
      | — всё, что можно повторить, следует повторить. Без нужды не вводим лишнюю разницу в расстояниях. 

    p
      strong Рекомендуется:
    ul  
      li Использовать в макете не более двух гарнитур. Очень важно то, чтобы шрифт, который вы выбрали, имел в своем арсенале различные стили, такие как жирный, подчеркнутый, курсив и т.д.
      li Для больших объемов наборного текста использовать начертания regular, normal, roman;
      li При выборе гарнитуры учитывать не только легкость прочтения каждой отдельной буквы, но и легкость восприятия слов и фраз.
      li Использовать начертание italic иногда, для интеллектуального акцента.
      li Базовое значение высоты кегля 16px;
      li Использовать интерлиньяж равный ≈ 150% от базового кегля (16px × 1,5 = 24px).
      li Длина строки 65 символов для одноколоночного и 45 для многоколоночного текста.
      li Выключка по левому флагу.
      li Не изменять кернинг.
      li Расстояние между абзацами текста ×2 по отношению к пробельной строке.
      li При передачи макета материалов верстальщику, прикладывать шрифты используемые в данном макете в формате .woff2, .woff, ttf или ссылку на официальный репозиторий. 

    p
      strong Типографика: 
    ul
      li В русском тексе должны использоваться кавычки «» (код на клавиатуре Alt + 0171 и Alt + 0187 соответственно) для первого уровня и „ “, для второго уровня; 
      li Длинное тире — (код на клавиатуре Alt + 0151);
      li Добавляем к предлогам неразрывный пробел (код на клавиатуре Alt + 0127);
      li Мягкий перенос после трех букв;
      li Ссылки в тексте (перелинковка) и их анимация (действие при наведении мыши).
