html
	font-size: 16px
	box-sizing: border-box

body
	margin: 0
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Open Sans, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

*:focus
	outline-style: none
	outline-width: 0px !important
	outline-color: none !important

*,
*::before,
*::after
	box-sizing: inherit

h1
	font-size: 3rem
	font-weight: 600

$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px )
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1140px )
$grid-columns: 12
$grid-gutter-width: 30px

header
	background: url('../img/header/header-bg.jpg') center no-repeat
	height: 860px

.navbar
	display: flex
	justify-content: space-around
	background-color: rgba(0, 0, 0, .25)
	padding: 30px 0

.logo
	display: flex
	align-items: center
	font-weight: 600
	color: #fff

	span
		color: #ffc107

.logo__ico
	width: 42px
	fill: #fff
	margin-right: 12px

.phone
	text-decoration: none
	color: #fff
	font-weight: 600
	margin-right: 30px

.header__body
	color: #fff
	text-align: center
	width: 1152px
	margin: 0 auto
	padding: 0 112px

.header__stars
	margin-bottom: 40px

.header__description
	margin-bottom: 60px

.header__achievement
	display: flex
	justify-content: space-around
	// явная хрень, РАЗОБРАТЬСЯ!
	padding-bottom: 105px

	.wrapper
		background: url('../img/header/header-achievement.png') center no-repeat
		width: 100%
		max-width: 192px
		height: 124px
		padding-top: 30px

	.number
		font-size: 2.25rem
		line-height: 3rem
		font-weight: 600

	.percent
		font-size: 1.5rem
		line-height: 3rem
		font-weight: 600

	.description
		margin-top: 50px

.header__form
	border-top: 2px dashed rgba(255, 255, 255, .5)
	padding-top: 45px

.input-group
	padding-bottom: 30px

.around
	justify-content: space-around

.between
	justify-content: space-between

.container
	margin: 0 auto
	// padding,width сделать переменной
	width: 1152px
	padding-left: 16px
	padding-right: 16px

.btn
	border-radius: 3px
	background-color: #ffc107
	cursor: pointer
	border: none
	font-size: .75rem
	&_lg
		padding: 12px 25px 14px
	&_xl
		font-weight: 600
		padding: 18px 40px


.row
	display: flex

.form__warning
	font-size: .75rem

.inp
	border: 0
	border-radius: 3px
	padding: 18px 15px

.t-text
	// Разобраться с отступом
	margin-right: 15px
